/* header Styles */

/* Style elements of the header */
* {
  list-style: none;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: #2d2c2c;
  color: white;
  width: 100%;
}

/* hr {
  background-color: white;
  border: none;
  height: 3px;
  width: 2em;
 float: right; 
}*/


/* id Styles*/
#btn {
  background-color: #2d2c2c;
  border: none;
  float: right;
  text-decoration: none;
  width: 50%;
}

/* class styles*/
.logo {
  float: left;
  padding: 1%;
  margin-left: 10%;
  position: absolute;
  text-align: start;
}

.show-menu-link{
  border-right: 1px solid white;
  margin: 3%;
  padding: 1%;
  color: white;
  text-decoration: none;
}

.show-menu-link:hover {
  background-color: #823ebb;
  padding: 2%;
}

.hide-menu {
  color: white;
  border-right: 1px solid white;
  padding: 2%;
  text-decoration: none;
}

.hide-menu:hover {
  color: #823ebb;
  padding: 1%;
}

.disabled-menu {
  display: none;
}

.enabled-menu {
  display: block;
}

.first-header {
  display: block;
}

.second-header {
  display: none;
}
