/* Estilos del main */
main{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 250px;
  padding: 5%;
  width: 100%;
}

/* Estilos de las clases del main */
.style-btn{
  background-color: #823ebb;
  border: none;
  box-shadow: 5px 8px #dbdbdb;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}
.style-btn:hover{
  background-color: #52e5d1;
  box-shadow: 5px 8px violet;
}

.style-main-what, .style-main-contact{
  text-align: justify;
  margin: 0% 3% 0% 5%;
}

