@media all and (max-width: 300px){
  .col-2{
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-12{
    width: 100%;
  }
}
