/* Estilos del nav */
.section-contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 400px;
  width: 100%;
  padding: 5% 10%;
  text-align: center;
}

/* Estilos de las clases del nav */
.title-nav {
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
  text-align: center;
}

.parragraph-nav {
  text-align: center;
  line-height: 20px;
}

.style-nav {
  margin: 1%;
}

.style-nav:hover {
  background-color: rgba(222, 151, 240, 0.24);
  padding: 1%;
}
