/* Estilos a las clases del section */
.title-one{
  color: white;
  font-size: 450%;
  font-family: 'Monoton', cursive;
  height: 200px;
  margin: 10% 0% 10% 2%;
  position: relative;
  text-align: center;
  width: 100%;
}
.img1{
  position: absolute;
  width: 100%;
}

.section-img {
  background-image: url("../assets/images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
